{erl_opts, [no_debug_info]}.
{deps, [{jsone, ".*", {git, "git://github.com/sile/jsone.git", {tag, "1.4.7"}}}]}.

{escript_incl_apps,
 [csv2es,jsone]}.
{escript_main_app, csv2es}.
{escript_name, csv2es}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
