{erl_opts, [no_debug_info]}.
{deps, [{jsone, {git, "https://github.com/sile/jsone.git", {tag, "1.7.0"}}},
        {getopt, {git, "https://github.com/jcomellas/getopt.git", {tag, "v1.0.2"}}}
        ]}.

{escript_incl_apps,
 [csv2es,jsone,getopt]}.
{escript_main_app, csv2es}.
{escript_name, csv2es}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
